{
	"useTabs": true,
	"printWidth": 150,
	"tabWidth": 1,
	"singleQuote": false,
	"trailingComma": "none",
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
